* {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: sans-serif;
}

.weatherDisplay {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.weatherApp {
  display: flex;
  width: 600px;
  margin: 0 auto;
  color: white;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 2rem;
  border-radius: 5rem;
  background: radial-gradient(
    circle at 12.3% 19.3%,
    rgb(85, 88, 218) 0%,
    rgb(95, 209, 249) 100.2%
  );
  margin-top: 2rem;
}

.todayWeather {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  margin-bottom: 20px;
}

.enteredLocation,
.currentTemp,
.currentConditions,
.currentDescription {
  grid-column: span 2;
}

.currentTemp {
  font-size: 4rem;
}

.weekForecast {
  display: grid;
  width: 240px;
  grid-template-rows: repeat(7, 1fr);
  padding: 0 15px 0 25px;
}

.day {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr 2fr;
}

.day > :nth-child(1) {
  font-weight: bold;
}

form {
  display: flex;
  align-items: center;
  margin: 0 auto;
  gap: 1rem;
  flex-direction: column;
  width: 50%;
}

form > input {
  border-radius: 1rem;
  padding: 0.5rem;
  border-style: none;
}

.icon {
  display: flex;
}

.icon > img {
  height: 1rem;
  margin: 0 auto;
}

form > button,
.switcher {
  padding: 12px;
  color: white;
  font-weight: bold;
  border-radius: 1rem;
  border-style: none;
  background-color: #3d6cb9;
}
